.icon-color {
  color: #0C4770;
}

.icon-second-color {
  color: #fff;
}

.text-color {
  color: #fff;
}

/* Estilo del contenedor con desplazamiento */
.overflow-auto {
  overflow: auto;
  /* Agrega una barra de desplazamiento solo si es necesario */
  max-height: 75vh;
}

/* Estilo de la barra de desplazamiento en navegadores webkit */
.overflow-auto::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
.overflow-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del riel */
}

/* Estilo del pulgar (barra móvil) de la barra de desplazamiento */
.overflow-auto::-webkit-scrollbar-thumb {
  background: #0C4770;
  /* Color del pulgar */
}

/* Estilo del pulgar al pasar el mouse sobre la barra de desplazamiento */
.overflow-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del pulgar al pasar el mouse */
}

@import 'typeface-roboto';

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.card-style:hover {
  background-color: #f0f0f0;
  /* Cambia el color de fondo al pasar el cursor */
}

.my-swal-confirm-button {
  /* Estilos para el botón de confirmación */
  background-color: #0C4770 !important;
  border: none !important;
  border-color: #0C4770 !important;

}

.bg-second-color {
  background-color: #F6FBFF;
  min-height: 91vh;
}

.bg-first-color {
  background-color: #0C4770;
  /* height: 88vh; */
}

.icon-notification {
  position: relative;
  display: inline-block;
}

.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.btn-style {
  background-color: #0C4770;
  border-color: #0C4770;
  color: #fff;
  border-radius: 5px;
  padding: 4px 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.form-control.custom-input {
  box-shadow: none;
}

/* .left-col-size {
  flex-basis: 10%; 
}

.right-col-size {
  flex-basis: 90%; 
} */

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  background-color: #0C4770;
  /* Cambia el color de fondo en hover */
  color: #fff;
  /* Cambia el color del texto en hover */
  border-radius: 5px;
  margin: 10px;
}

@media (max-width: 1520px) {
  .left-col-size {
    width: 100%;
  }

  .right-col-size {
    width: 100%;
    /* Make the main content take full width */
  }
}